@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Get in contact with HR!</h3>

<address>
    Lisa Sweeney<br />
    Head of People & Culture<br />
    T: +44 (0) 28 90 183400 (Ext. 412)
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:lisa.sweeney@neueda.com">lisa.sweeney@neueda.com</a><br />
</address>