@{
    ViewBag.Title = "Neueda Employee Database";
}

<div class="jumbotron">
    <h1>Neueda</h1>
    <p class="lead">Welcome to the Neueda Employee Database! Here you will find a list of all the amazing people that work at Neueda!</p>
    <p><a href="http://localhost:57116/Employee" class="btn btn-primary btn-lg">Employee List &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Neueda Website</h2>
        <p>To find out more about Neueda, visit our website!</p>
        <p><a class="btn btn-default" href="http://www.neueda.com/">Neueda &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Neueda News!</h2>
        <p>Keep up to date with the latest Neueda news!</p>
        <p><a class="btn btn-default" href="http://www.neueda.com/news/">News &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Neueda Careers!</h2>
        <p>Click here to find out about current opportunities with Neueda!</p>
        <p><a class="btn btn-default" href="http://www.neueda.com/careers/">Careers &raquo;</a></p>
    </div>
</div>