@model IEnumerable<EmployeeWeb.Models.EmployeeRoleCount>

@{
    ViewBag.Title = "Employee Job Role Statistics";
}

<h2>Employee Job Role Statistics</h2>

<table>
    <tr>
        <th>
            Job Role
        </th>
        <th>
            Employees
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobRole)
            </td>
            <td>
                @item.EmployeeCount
            </td>
        </tr>
    }
</table>