@model IEnumerable<EmployeeWeb.Models.EmployeeRoleCount>

@{
    ViewBag.Title = "Employee Job Role Statistics";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../Scripts/EmployeeCountSum.js"></script>
</head>


<h2>Employee Job Role Statistics</h2>

<table>
    <tr>
        <th>
            Job Role
        </th>
        <th>
            &emsp;
            Employees
        </th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobRole)
            </td>
            <td class="employeeCount">
                &emsp;
                <count>@item.EmployeeCount<count />
            </td>
        </tr>
    }

    <tr>
        <th>
            <br />
            Total Employees:
        </th>

        <td>
            <br />
            &emsp;
            <b id="employeeCountSum"></b>
        </td>

    </tr>



</table>

